<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- <!doctype html> -->
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Ruslim.Org" %></title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"> 

    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>

    <body class="<%= page_classes %>">
      <header>
	<div id="main-menu">
	  <% link_to '/index.html' do %>
	  <%= image_tag 'ruslim_logo.png' %>
	  <% end %>
	  <div id="dropdown">
	    <%= link_to 'About', '/about-us.html' %>
	    <%= link_to 'Main web-site', 'http://ruslim.org' %>
	  </div>
	</div>
	<div id="lang">
	  <% link_to '/ru/index.html' do %>
	  <%= image_tag 'ru_flag.png' %>
	  <% end %>
	  <% link_to '/index.html' do %>
	  <%= image_tag 'en.png' %>
	  <% end %>
	</div>
    </header>
    <article>
      <h1 id="name"><%= current_page.data.name %></h1>
      <% if current_page.data.date %>
      <p id="date">Date: <%= current_page.data.date %></div>
      <% end %>
      <% if current_page.data.author %>
      <p id="author">Author: <%= current_page.data.author %></div>
      <% end %>
      <%= yield %>
    </article>
<div class="right">
  <div>
      <h3>Quick Links</h3>
      <ul>
	<li><%= link_to 'Ruslim.Org', 'http://ruslim.org' %></li>
	<li><%= link_to 'Home', '/index.html' %></li>
	<li><%= link_to 'About Us', '/about-us.html' %></li>
      </ul>
  </div>
  <div>
    <h3>Menu 1</h3>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
    </ul>
  </div>
  <div>
    <h3>Menu 2</h3>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
    </ul>
  </div>
    </div>
    <footer>
      <div>
	<ul>
	  <li><%= link_to 'About Us', '/about-us.html' %>
	</ul>
      </div>
      <div>
	<ul>
	  <li><%= link_to 'About Us', '/about-us.html' %>
	</ul>
      </div>
      <div>
	<ul>
	  <li><%= link_to 'About Us', '/about-us.html' %>
	</ul>
      </div>
    </footer>
  </body>
</html>
